<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<title><%= title %></title>-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  <!--</head>-->
  <!--<body>-->
    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
  <!--</body>-->
<!--</html>-->

<html>
    <head></head>
    <body onload="init();">
        <canvas id="demoCanvas" width="1400" height="768"></canvas>
    </body>
    <script src="javascripts/createjs.min.js"></script>
    <script src="javascripts/card.js"></script>
    <script src="javascripts/hand.js"></script>
    <script src="javascripts/table.js"></script>
    <script src="javascripts/other_hand.js"></script>
    <script src="javascripts/color_board.js"></script>
    <script src="javascripts/game.js"></script>
</html>
