<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<title><%= title %></title>-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  <!--</head>-->
  <!--<body>-->
    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
  <!--</body>-->
<!--</html>-->

<html>
    <head></head>
    <body onload="init();">
        <canvas id="demoCanvas" width="1024" height="768"></canvas>
    </body>
    <script src="javascripts/createjs.min.js"></script>
    <script src="javascripts/card.js"></script>
    <script>


function init() {
    var stage = new createjs.Stage("demoCanvas");
    var card = new Card(50,50);
    stage.addChild(card);
    stage.update();
}

    </script>
</html>
