<!DOCTYPE html>
<!-- saved from url=(0037)http://v3.bootcss.com/examples/cover/ -->
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">


    <title>Uno Online</title>

    <!-- Bootstrap core CSS -->
      <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
    <link href="http://v3.bootcss.com/examples/cover/cover.css" rel="stylesheet">


  </head>

  <body background="/images/background2.jpg">

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="container">

          <form class="form-signin" action="signup" method="post">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-info" type="submit">Sign up</button>
          </form>    
        </div> <!-- /container -->

        <div class="cover-container">

          <div class="masthead clearfix">

            <div class="inner">

              <h3 class="masthead-brand">Uno-online</h3>

              <nav>

                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/features">Features</a></li>
                  <li><a href="/about">About</a></li>
                </ul>

              </nav>

            </div>

          </div>          

          <div class="mastfoot">
            <div class="inner">
              <p><font color=#00FFFF size=3>An online PVP Uno game, by <a href="https://github.com/EverNine">@EverNine</a> &amp; <a href="https://github.com/zhujiale2">@zhujiale</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    </body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

<script>(function (){
      window.clean__ = 'true';
    })();</script></body></html>
